<section>
  <ul>
	  <li>Currently listening to: <a href="https://play.spotify.com/album/3fJzdyuibtLBHJ6v59l6fy">I Fight Dragons</a></li>
	  <li>Currently reading: <a href="http://www.amazon.co.uk/Programming-Environment-Addison-Wesley-Professional-Computing/dp/0201433079">Richard Stevens' Advanced Programming in the UNIX Environment</a></li>
	  <li>Currently watching: <a href="http://www.amctv.com/shows/the-walking-dead">The Walking Dead</a></li>
	  <li>Currently playing: <a href="http://eu.battle.net/wow/">World of Warcraft</a></li>
  </ul>
</section>
